<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/CSS/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <div class="web-title">
                <a href="/">Blood Bankers</a>
            </div>
            <div class="nav-buttons">
                <ul class="nav-list">
                    <li class="nav-items"><a href="">Home</a></li>
                    <li class="nav-items"><a href="">About</a></li>
                    <li class="nav-items"><a href="">Why Donate Blood</a></li>
                    <li class="nav-items"><a href="/new-donor">Become A Donar</a></li>
                    <li class="nav-items"><a href="">Find Blood Donor</a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>

</html>