<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Bankers</title>
    <link rel="stylesheet" href="/Assets/CSS/style.css">
</head>

<body>
    <nav>
        <div class="web-title">
            <a href="/">Blood Bankers</a>
        </div>
        <div class="nav-buttons">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Why Donate Blood</li>
                <li>Become A Donar</li>
                <li>Find Blood Donor</li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="hero-section">
            <div class="hero-title">
                Be<br>
                Someone's
                <br>Lifeline
                <div class="hero-paragraph">
                    <p>Connect with willing donors and those in need in a seamless, 
                        supportive environment. A single donation can make a world of difference help save lives today.</p>
                </div>
                <div >
                    <a href="#" class="become-donor-btn">Become A Donar</a>
                </div>
            </div>
            <div class="blood-donation-info">
                <h1>Do You Know</h1>
                <div>
                    <li>India needs around <span>40,000</span> blood donors per day</li>
                    <li>India requires around <span>14.6 million</span> units of blood annually</li>
                    <li>India has Annual shortage <span>1 million</span> units</li>
                    <li></li>
                    <li></li>
                </div>
            </div>
        </div>
        <div class="main-conatiner">
            <div class="left-container">

            </div>
            <div class="right-container">
            </div>
        </div>

    </main>
</body>

</html>