<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Bankers</title>
    <link rel="stylesheet" href="/Assets/CSS/style.css">
</head>

<body>
    <main>
        <nav>
            <div class="web-title">
                <a href="/">Blood Bankers</a>
            </div>
            <div class="nav-buttons">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Sign In</li>
                    <li>Login</li>
                </ul>
            </div>
        </nav>
        <hr>
        <div class="main-conatiner">
            <div class="left-container">

            </div>
            <div class="right-container">
                <div class="image-container">
                    <!-- <img src="../Assets/Images/—Pngtree—doctor and donation of the_6288026.png" alt=""> -->
                </div>
            </div>
        </div>

    </main>
</body>

</html>