@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Colors */
    --orange: hsl(22, 85%, 55%);
    --Bright-orange: hsl(0, 86%, 43%);
    --Red: hsl(0, 100%, 50%);
    --redish-white: hsl(0, 33%, 98%);
    --brown-white: hsl(26, 33%, 92%);
    --white: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Grayish-blue: hsl(0, 0%, 52%);
    --Light-black: hsl(0, 0%, 0%, 75%);

    /* Font-Sizes */
    --nav-font-size: 0.6rem
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color1);
}

a {
    text-decoration: none;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    position: sticky;
    z-index: 20;
    margin-bottom: 1.2rem;
}


.web-title {
    font-size: 1.6rem;
    font-weight: 600;
}

.web-title a {
    color: rgb(0, 0, 0);
}


 .nav-buttons ul {
   
    font-size: 1rem;
    float: left;
}


.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav-items
{
    margin-left: 1.9rem;
}

.nav-items a
{
    cursor: pointer;
    color: var(--Black);
}

.nav-items:hover {
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    color: var(--Bright-orange);
    font-weight: 600;
} */

section {
    padding: 1rem ;
}

.hero-section {
    max-width: 1024px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.hero-title {
    text-align: left;
    color: var(--Bright-orange);
    font-size: 4rem;
    font-weight: 500;
    max-width: 600px;

}

.hero-paragraph {
    color: var(--Grayish-blue);
    font-size: 1.2rem;
    margin-top: 1.8rem;
    line-height: 2rem;
    text-align: justify;
}

.become-donor {
    font-size: 1rem;
    padding: 0.8rem;
    width: 180px;
    margin-top: 1.5rem;
    text-align: center;
    font-weight: 400;
    border-radius: 5px;
    background-color: var(--Bright-orange);
    color: var(--white);
}

.become-donor:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.1);
    
}

.become-donor-btn
{
    color: var(--white);
}

.blood-donation-info{
    display: flex;
    position: relative;
    right: 5rem;
    bottom: 2.5rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 5px solid var(--Grayish-blue);
    border-radius: 1rem;
}


.blood-dontaion-bullets
{
  width: 100%;
  margin: 5px;
}



.blood-donation-info h1 {
    margin-bottom: 2rem;
    color: var(--Bright-orange);
}

.blood-donation-info li {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.blood-donation-info li span {
    color: var(--Bright-orange);
    font-weight: 600;
}

.blood-donation-info li::marker {
    color: var(--Bright-orange);
    font-size: 1.2rem;
}

.about-us-conatiner
{
    margin: 2rem 10rem;
}

.about-us
{
    display: flex;
    align-items: center;
}